<script>
function setFollowRelation(element, follow) {
    element.disabled = true;
    element.innerHTML = "<span class='glyphicon glyphicon-refresh glyphicon-refresh-animate'></span>";
    var action = follow ? "follow" : "unfollow";
    var url = window.location.href + '/' + action;
    $.post(url, function() {
        console.log("success");
        element.innerHTML = follow ? "Unfollow" : "Follow";
    }).always(function() {
        element.disabled = false;
    });
}
$("#follow_button").click(function() {
    console.log("click");
    console.log($(this));
    console.log($(this).innerHTML=="Follow");
    setFollowRelation($(this)[0], $(this)[0].innerHTML=="Follow");
});

function updateNotificationList(notifications) {
    $("#notification_badge")[0].innerHTML = notifications.length;
}
function getUnreadNotification() {
    $("#notification_badge")[0].innerHTML = "...";
    var url = window.location.href + '/notifications';
    $.get(url, function(data) {
        updateNotificationList(data);
    }).always(function() {
        console.log("end");
    });
}
function clearNotification(id) {

}
</script>
