<script>
var debug = true;
var log = function(x) {if(debug) console.log(x);}

$('a.dropdown-toggle.notification').on('click', function (event) {
    $(this).parent().toggleClass('open');
});

$('body').on('click', function (e) {
    if (!$('li.dropdown.notification').is(e.target)
        && $('li.dropdown.notification').has(e.target).length === 0
        && $('.open').has(e.target).length === 0
    ) {
        $('li.dropdown.notification').removeClass('open');
    }
});

$("a.retweet").click(function() {
    log("click-retweet");
    var tweet_id = $(this)[0].attributes["tweet-id"].value;
    var tweet_content = $("#tweet_content_" + tweet_id)[0].innerText;
    var sender_name = $("#tweet_sender_name_" + tweet_id)[0].innerText;
    var tweet_content = tweet_content.substring(0,20) + (tweet_content.length > 20 ? "..." : "");
    var text = tweet_content + " from " + sender_name;
    retweet(tweet_id, function(status){
        if (status)
            notify("success", "retweet success", text);
        else
            notify("error", "retweet failed", text);
    });
});

function retweet(tweet_id, callback) {
    var url = '/retweet/' + tweet_id
    $.post(url, function() {
        log("retweet: success");
        callback(true);
    }).fail(function() {
        callback(false);
    });
}

function setFollowRelation(element, follow) {
    element.disabled = true;
    element.innerHTML = "<span class='glyphicon glyphicon-refresh glyphicon-refresh-animate'></span>";
    var action = follow ? "follow" : "unfollow";
    var url = window.location.href + '/' + action;
    $.post(url, function() {
        log("setFollowRelation: success");
        element.innerHTML = follow ? "Unfollow" : "Follow";
    }).always(function() {
        element.disabled = false;
    });
}

$("#follow_button").click(function() {
    console.log("click-follow/unfollow");
    setFollowRelation($(this)[0], $(this)[0].innerHTML=="Follow");
});

rivets.formatters.length = function(value)
{
  return value ? (value.length || 0) : 0;
};

rivets.formatters.eq = function(value, args)
{
  return value === args;
};

rivets.formatters.gt = function(value, args)
{
  return value > args;
};


$(".__base.modal_access").click(function(e) {
    log("click-modal_access");
    var tweet = JSON.parse($(this).parents('.tweet_panel')[0].attributes["tweet"].value.replace(/'/g, '"'));
    var isShown = $('#tweet_modal').hasClass('in');
    $('#tweet_modal').modal('toggle');
    if (!isShown) initializeModal(tweet);
});

var TWEET_MODAL = {};
var TWEET_MODAL_VIEW = null;
var TWEET_MODAL_CONTROL = function() {

};

function initializeModal(tweet) {
    log('initializeModal');
    if (Object.prototype.hasOwnProperty.call(TWEET_MODAL, tweet.id)) {
        updateModal(tweet, TWEET_MODAL[tweet.id]);
    }
    $.get('/tweet/'+tweet.id+'?partial=1', function(data) {
        log(data);
        TWEET_MODAL[tweet.id] = data;
        updateModal(tweet, data);
    });
}

function updateModal(tweet, html) {
    if (TWEET_MODAL_VIEW !== null) TWEET_MODAL_VIEW.unbind();
    $('#tweet_modal .modal-body')[0].innerHTML = html;
    TWEET_MODAL_VIEW = rivets.bind($('#tweet_modal .modal-body'), {T: new TWEET_MODAL_CONTROL()});
}

function retweet(tweet_id, callback) {
    var url = '/retweet/' + tweet_id
    $.post(url, function() {
        log("retweet: success");
        callback(true);
    }).fail(function() {
        callback(false);
    });
}

</script>
<% if @logged_in_user %>
    <%= erb :setup_js_logged_in %>
<% end %>
