<%= erb(:tweets_list, :locals => {position: '__tweet_modal'}) %>

<% if @logged_in_user %>
<div class="panel panel-default">
    <div class="panel-body">
        <form method="post" id="reply_form">
        <div class="input-group">
          <input type="text" class="form-control" name="reply_index" style="display: none;">
          <input type="text" class="form-control" name="tweet_prefix" style="display: none;">
          <span class="input-group-addon"></span>
          <input type="text" class="form-control" name="tweet" disabled="true">
          <span class="input-group-btn">
            <button class="btn btn-default" disabled="true">Reply</button>
          </span>
        </div>
        </form>
    </div>
</div>
<% end %>
