<form action="/tweet" method="post" id="tweet_form_main">
<div class="input-group">
  <input type="text" class="form-control" placeholder="" name="tweet">
  <span class="input-group-btn">
    <button class="btn btn-default" type="submit" form="tweet_form_main">Tweet</button>
  </span>
</div>
</form>
