.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}
ul#notification_list .badge {
    background-color: transparent;
    color: black;
    float: right;
}
ul#notification_list .badge :hover {
    color: red;
}
ul#notification_list .notification_content {
    display: block;
    margin-right: 30px;
}
