<!DOCTYPE html>
<!--
loggedin: bool
user: {name:text, email:text, id:integer}
-->
<html lang="en">
    <head>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/n3.3.5/js/bootstrap.min.js"></script>

        <style>
        .vcenter {
            display: inline-block;
            vertical-align: middle;
            float: none;
        }
        </style>

        <title>
            Registration
        </title>
    </head>

    <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">NanoTwitter</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <% if @loggedin %>
                <p class="navbar-text navbar-right">Signed in as
                    <a href="/user/<%= @logged_in_user["id"] %>" class="navbar-link"><%= @logged_in_user["name"] %></a>
                    &nbsp;&nbsp;&nbsp;
                    <a href="/logout" class="navbar-link">Sign out</a>
                </p>
            <% else %>
              <form class="navbar-form navbar-right" action="/login" method="post">
                <div class="form-group">
                  <input type="text" placeholder="Email" class="form-control" name="email">
                </div>
                <div class="form-group">
                  <input type="password" placeholder="Password" class="form-control" name="password">
                </div>
                <button type="submit" class="btn btn-success">Sign in</button>
              </form>
            <% end %>
        </div><!--/.navbar-collapse -->
      </div>
    </nav>

    <div class="container" style="margin-top: 100px;">
        <form class="form-horizontal" action="/user/register" method="post">
            <div class="form-group">
              <label for="input0" class="col-sm-2 control-label">Name</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="input0" placeholder="Name" name="name">
              </div>
            </div>

          <div class="form-group">
            <label for="input1" class="col-sm-2 control-label">Email</label>
            <div class="col-sm-10">
              <input type="email" class="form-control" id="input1" placeholder="Email" name="email">
            </div>
          </div>

          <div class="form-group">
            <label for="input2" class="col-sm-2 control-label">Password</label>
            <div class="col-sm-10">
              <input type="password" class="form-control" id="input2" placeholder="Password" name="password">
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" class="btn btn-default">Sign up</button>
            </div>
          </div>
        </form>
    </div> <!-- /container -->



    </body>


</html>
